/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

nav h1 {
    
    font-weight:normal;
    overflow:visible;
    padding:0px;
    text-align:center;
	color:#FFF;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


.tabbar > .button > .icon{
display:none;	
}

body.hasTabBar nav {
background-color: #043680;

}

.tabbar > .button{
	background-color: #043680;
	color:#FFF;
	border-right-width: 1px;
	
	border-right-style: solid;
	
	border-right-color: #fcfcf8;
	
}
.tabbar >.button.selected{
background-color:#fcfcf8;	
}

article .loading{
	background-color: #666;
	background-image: url(../img/ajax-loader.gif);
	background-repeat:no-repeat;
	width:95%;
	margin-left:auto;
	margin-right:auto;
	min-height:20px;
	padding-top:80px;
	background-position: center center;
	border-radius:10px;
	margin-top:30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	text-align: center;
	width:94%;
	margin-left:3%;
	margin-bottom:30px;
	opacity:0.0;
	position:absolute;
	top:10px;
	left:0px;
	z-index:35000;
	-webkit-transition:opacity 1s;
}

article.current .loading.visible{
	opacity:0.7;

}

/*BOTONES*/
.product-search input{
margin-top:1%;	
}
.product-search input[type="search"]{
font-size:150%;
display:block;
margin-left:auto;
margin-right:auto;
width:46%;
margin-top:35%;
padding:2%;
}

input.gahibre-button{
color:#FFF;
border-radius:5px;
padding:2%;
background-color:#043680;
display:block;
width:50%;
margin-left:auto;
margin-right:auto;
font-size:150%;
	
}

/*PRODUCT LIST*/
#product-cat .list img{
height:40px;
vertical-align:middle;	
}
#product-cat .list .tit_modelo{
	padding-left:20px;
	vertical-align:middle;
	
}
#product-cat .list > li.nav::after{
top:30px;	
}
.back-button{
	  background-image: url(../img/iconos/back_57.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 100%;
  display: none;
  
}
/*PRODUCT VIEWER*/
#product-carrousel{
background-color:#FFF;	
}
#product-carrousel h2,
#product-carrousel .center{
text-align:center;	
}
#product-carrousel img{
margin-bottom:15px;	
}
#product-carrousel h2{
color:#043680;
font-size:1.4em;
margin-left:0px;	
font-weight:bold;
}
#product-carrousel .material{
	background-color:#043680;
	opacity:0.5;
	border-radius:5px;
	padding:5px;
	color:#FFF;
}

#product-carrousel h3{
color:#043680;
opacity:0.5;
margin-left:0px;
font-size:1.2em;
text-align:left;
padding-left:10px;	
margin-bottom:0em;
}
#product-carrousel h3.inline{
display:inline;	
line-height:2em;

}
#product-carrousel p{
text-align: left;
  padding-left: 10px;
  text-transform: none;
  font-size: 1.2em;
  margin-top:0.5em;	
  margin-bottom:0.5em;
}

#product-carrousel .value{
	text-align: left;
  padding-left: 10px;
  text-transform: none;
  font-size: 1.2em;
  margin-top:0.5em;	
}
#product-carrousel .value::after{
	content:"\A"; white-space:pre;
}