/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

#promo img{
display:block;
margin-left:auto;
margin-right:auto;
width:80%;	
	
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

/****************************************/
/********** RESPONSIVE iPhone ***********/
/****************************************/

/* iPhone 3G Y 3GS*/

@media only screen 
and (min-device-width : 320px)
and (-webkit-min-device-pixel-ratio: 2)
{
/*	STYLES GO HERE*/
}

/* iPhone 4 y 4S*/

@media only screen 
and (min-device-width : 320px)
and (max-device-width : 480px)
and (-webkit-min-device-pixel-ratio: 2)
{  	
	article {top:41px;}
	nav {font-size:35px; margin:0; top:0px;heigth:41px;}
	nav > h1 {top:0px;}
	#aboutGahibre p 
	{	
		font-size: 12px;  
		font-family: "Arial", Helvetica, sans-serif;
	} 
	.tabbar > .button {font-weight:bold; font-size:11px}
	.tabbar {height:34px;}
	body.hasTabBar article {bottom:34px;}
	.product-search	{font-size:90%;}
	input[type="search"]
	{		
		background-size:17px 18px; 
		border:1px solid #BBB6B6; 
		border-radius:5px;
		background-position:4px center;		
	}
	.gahibre-button {border-radius:5px;}
	.back-button {margin-top:-5%;}
	.list > li.nav::after {width:20px; height:20px; right:29px;}
	.product-list .list > li.nav::after {top:24px;}
	products current > span.shop-button {top:8px;right:15px;}
	body.hasTabBar nav .shop-button 
	{ 
		right: 15px; 
		top: 8px;
	}
	.popup {width:76%;margin-left:7%;font-size:10px;height:35%;}
	.popup > .panel .button {font-size:14px;}
	.popup header > h1 {font-size:1.8em; font-weight:bold;padding:2px;}
	.popup footer {height:41px;}
	a.button {padding:0px;}
	#customerSelect {margin-bottom:5%;margin-top:-2%;}
	body.isiOS.hasTabBar .customer-line .blue-tag {font-weight:bold;}
	#order-details .first-line {font-size:10px;}
	#order-details .second-line {font-size:10px;}
	#pedidos #order-details .discount-label {width:21%;}
	#pedidos #order-details .article {width:24%;}
	#pedidos #order-details .discount-value {margin-left:11px;}
	#pedidos #order-details .quantity-value {margin-left:0px;}
	#pedidos #order-details .price-label {margin-left:2%;}
	#checkout .total-line .total-value {margin-left:6.5%;}
	#checkout .total-line .total-label {font-weight:bold;}
	article.paging > section #observaciones {font-family:"Arial", Helvetica, sans-serif;}
	#checkout .buttons {margin-left:8%;}
	#more-products {font-size:9px; padding:13px 10px 11px 11px !important;}
}

@media only screen 
and (min-device-width : 320px)
and (max-device-width : 480px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2)
{	
	input[type="search"]
	{		
		background-size:29px 23px; 
		border:1px solid #BBB6B6; 
		border-radius:5px;
		background-position:7px center;	
		
	}
	.gahibre-button {border-radius:5px;}
	/*article.paging > section #order-details .discount-value {width:27%;}*/
	article.paging > section form {margin-top:-29%;}
	.popup {width:70%;margin-left:-3%;font-size:10px;height:47.3%;}
	.popup > .panel .button {font-size:14px;}
	.popup .panel .cancel {border-right: solid 1px #b5b5b5;}
	.popup > panel .button.cancel {border-right:solid 1px #b5b5b5;}
	.popup header > h1 {font-size:1.8em; font-weight:bold;padding:2px;}
	.popup footer {height:41px;}
	a.button {padding:0px;}
	article.paging > section #order-details .size-value {width:8%;}
	article.paging > section #order-details .quantity-label {width:13%;}
}

/* iPhone 5, 5C, 5S*/

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (-webkit-min-device-pixel-ratio: 2)
{
	.popup {height: 30%;}
	.popup footer {height:49px;}
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) 
and (-webkit-min-device-pixel-ratio: 2)
{ 
	body.isiOS.hasTabBar .popup > .panel {font-size:8px !important;}
	.popup {height:54.8%;width:45% !important;margin-left:5% !important;margin-top:1% !important;}
}

/* iPhone 6*/

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (-webkit-min-device-pixel-ratio: 2)
{
	#aboutGahibre p {font-size:16px;}
	.tabbar > .button {font-size:13px;}
	.popup {height:27.5%;}
	.popup header > h1 {font-size:2.1em;}
	.popup > .panel > p {font-size:1.5em;}
	/*.popup footer {border-top: solid 1px #b5b5b5}*/
	.product-list .list > li.nav::after {top:26px;}
	#checkout .buttons {margin-left: 8% !important;}
	#more-products {font-size:11px;padding:11px !important;}	
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px)
and (orientation : landscape) 
and (-webkit-min-device-pixel-ratio: 2)
{
  	.tabbar > .button {font-size:16px;font-weight:bold;}
	nav > h1 {font:normal 16pt/12pt HelveticaNeue, Sans-serif; top:5px !important;}
	.product-search	{font-size:118%;margin-top:-31% !important;}
	input[type="search"]
	{		
		background-size:32px 28px; 
		border:1px solid #BBB6B6; 
		border-radius:5px;
		background-position:9px center;		
	}
	#productos > section ul.list,#outlet > section ul.list {padding-top:12px;}
	.product-list .list > li.nav::after {top:26px;width:20px;height:20px;margin-right:3%;}
	.popup {height:56.8% !important;margin-top:-2%;width:54%;}
	.popup footer {border-top:none;}
	.back-button {width:32px !important; height:32px !important; margin-top:-8px; }
	.shop-button {width:26px !important; height:26px !important; margin-top:-8px; margin-right: 8px;}
	#checkout .buttons {margin-left:14% !important;font-size:1.2em !important;}
	#more-products {font-size:1em !important;padding-top: 10px !important; padding-bottom: 10px !important;}
	.customer-line {padding-bottom: 31px !important;}
	.customer-line .blue-tag {font-size:1.5em !important; font-weight:bold !important;}
	#customerSelect {margin-top:-5px !important;}
	article.paging > section #order-details .article {font-size:1em !important;}
	article.paging > section #order-details .size-label {font-size:1em !important;}
	#order-details .discount-label {font-size:1em !important;widt:1%;}
	#order-details .discount-value {font-size:1.2em !important;width:28.2% !important;}
	article.paging > section #order-details .size-value {width:8%; font-size:1em !important;}
	#order-details .quantity-label {font-size:1em !important;}
	#order-details .quantity-value {font-size:1em !important;margin-left:0px !important;}
	#order-details .price-value {font-size:1em !important;}
	#order-details .price-label {font-size:1em !important;}
	#order-details .subtotal {font-size:1em !important;width:31% !important;}
	#order-details .del-button {font-size:1em !important;}
	#checkout .total-line .total-value {width:77% !important;}
	#checkout .total-line .total-label {font-size:1em !important; font-weight: bold;}
	#observaciones {width: 92% !important; margin-left:18px !important; font-family:"Arial", Helvetica, sans-serif;}
}

/* iPhone 6Plus*/

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px)
and (-webkit-min-device-pixel-ratio: 3)
 {
	#order-details .discount-value {width: 27.5% !important;}
	#order-details .quantity-value {width: 19% !important;}
	#order-details .price-value {width: 19% !important;}
	.popup {height:24.5% !important; margin-left:0% !important;}
	.popup footer {border-top: 1px solid #b5b5b5 !important; height: 39px !important;}
	.popup > .panel .button {border-top: none !important;}
	
}

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : landscape) 
and (-webkit-min-device-pixel-ratio: 3)
{ 
	nav > h1 {top:5px;font:normal 19pt/6pt HelveticaNeue, Sans-serif;}
	#aboutGahibre {font-size:14pt;}
	a.button {font-size:15pt !important; font-weight:bold;}
	.product-search	{font-size:160% !important;margin-top:-31% !important;}
	input[type="search"]
	{		
		background-size:32px 36px; 
		border:1px solid #BBB6B6; 
		border-radius:5px;
		background-position:9px center;		
	}
	.back-button 
	{
		width:32px !important; 
		height:32px !important; 
		margin-top:-8px !important; 
	}
	.list > li.nav::after 
	{
		width:24px; 
		height:24px; 
		margin-top:-7px; 
		margin-right:17px;
	}
	.shop-button 
	{
		right:18px !important; 
		top:16px !important;
		width:28px !important; 
		height:28px !important;
	}
	section h2 {padding:5px !important;}
	.popup {height:47.5% !important; margin-top: -2%; width:48%;}
	#checkout .buttons .checkout-button {font-size:13pt;}
	.customer-line {font-size:12pt;padding-bottom:20px;}
	#customerSelect {margin-top: -8px;}
	article > section > .list > li {font-size:1em !important;}
	.customer-line .blue-tag {font-weight:bold; font-size:1.4em !important;}
	#order-details .discount-label {width:17% !important; margin-right:21px;}
	#order-details .price-label {width:13% !important;}
	#order-details .quantity-value {margin-left:0px !important;}
	#order-details .subtotal {padding:0px 21px 0px 0px !important;}
	#checkout .total-line .total-label {font-size:1.1em !important; font-weight:bold;}
	#checkout .total-line .total-value {padding-left:47px; padding-right:5%;}
	#observaciones 
	{
		width:93.1% !important; 
		margin-left:2% !important; 
		font-family:"Arial", Helvetica, sans-serif;
	}
}


/************************************/
/********* RESPONSIVE iPad **********/
/************************************/

/* iPad 1 y 2*/

@media only screen 
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)
{
	nav > h1 {font-size:35px; margin:0; top:22px;}
	#aboutGahibre p 
	{	
			font-size: 23px; 
			padding: 2px 22px 2px 22px; 
			font-family: "Arial", Helvetica, sans-serif;
	} 
	.tabbar > .button {font-size:20px}
	.isDesktop .tabbar > .button:hover, .tabbar > .button.selected {font-weight:bold;}
	.product-search	{font-size:160%;}
	input[type="search"]
	{		
		background-size:35px 35px; 
		border:1px solid #BBB6B6; 
		border-radius:5px;
		background-position:18px center;		
	}
	/*.loading {visibility:hidden;}*/
	#customerSelect 
	{
		margin-bottom:2%;
		margin-top:-1%;
	}
	.customer-line .blue-tag {font-size:1.73em;margin-left:3%;}
	.customer-line 
	{
		margin-right:24px;
		margin-top:4%;
		padding-left:30px;
		font-size:19px;
		font-weight:bold;
	}
	div.role-content {font-size:1.8em; text-align:justify;}
	.product-carrousel h3 {font-weight:bold;}
	body.hasTabBar nav .back-button {width:40px; top:13px;}
	section h2 {height:34px; }
	#order-details.list > li {font-size:1.5em; margin-left:0%;}
	.list > li.nav::after {height: 29px; width:29px; right:6%;}
	.product-list .list h2 {font-size:1.5em;overflow:inherit;}
	.product-carrousel h2 
	{
		font-size:35px;
		padding:7px;
		margin-top:5%;
	}
	body.hasTabBar nav .shop-button 
	{
		width:35px; 
		height:35px; 
		right: 2%; 
		top: 10px;
	}
	.product-carrousel .material {font-size: 1.4em;}
	.carousel-track > li {font-size: 1.8em; margin-left:2%;}
	.product-carrousel h3 {font-weight:bold;}
	li.comp > div 
	{
		padding: 0px 0px 20px 0px; 
		font-size:1.6em;
		margin-left:4%;
	}
	.popup {width:60%;margin-left:-9%;font-size:1.6em;height:29%;}
	.popup > .panel .button {font-size:1.4em;padding:16px;}
	.popup .panel .cancel {font-size:1.4em;padding:16px;border-right: solid 1px #b5b5b5;}
	.popup header > h1 {font-size:1.8em; font-weight:bold;padding:13px;}
	.popup footer {border-top: solid 1px #b5b5b5}
	#order-details .article {margin-left:3%;}
	#order-details .first-line {padding-bottom:12px;}	
	#checkout .total-line .total-label {font-weight:bold;margin-left:3%;}
	#checkout .total-line .total-value {font-size:1.6em;}
	article.paging > section #observaciones 
	{
		font-size:1.4em; 
		font-family: "Arial", Helvetica, sans-serif;
		width:87%;		
	}
	#checkout .buttons {font-size:21px;}
}

@media only screen 
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1)
{
	/*.loading {visibility:hidden;}*/	
	article.paging > section #order-details .discount-value {width:27%; }
	article.paging > section form {margin-top:-23%;}
	article.paging > section #order-details .quantity-value {width:20%;}
	#checkout .total-line .total-label {margin-left:30px; font-size: 1.6em !important;}
	article.paging > section #observaciones {width: 89%;}
	.popup 
	{
		display:block;
		position: absolute;
		padding:0;
		height:35%;
		margin-left: -14%;
	}
}

/* iPad 3 y 4 retina*/

@media only screen 
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) 
{ 
	nav > h1 {font-size:35px; margin:0; top:22px;}
	#aboutGahibre p 
	{	
			font-size: 23px; 
			padding: 2px 22px 2px 22px; 
			font-family: "Arial", Helvetica, sans-serif;
	} 
	.tabbar > .button {font-size:20px}
	.isDesktop .tabbar > .button:hover, .tabbar > .button.selected {font-weight:bold;}
	.product-search	{font-size:160%;}
	input[type="search"]
	{		
		background-size:35px 35px; 
		border:1px solid #BBB6B6; 
		border-radius:5px;
		background-position:18px center;		
	}
	/*.loading {visibility:hidden;}*/
	#customerSelect 
	{
		margin-bottom:2%;
		margin-top:-1%;
	}
	.customer-line .blue-tag {font-size:1.73em;margin-left:3%;}
	.customer-line 
	{
		margin-right:24px;
		margin-top:4%;
		padding-left:30px;
		font-size:19px;
		font-weight:bold;
	}
	div.role-content {font-size:1.8em; text-align:justify;}
	.product-carrousel h3 {font-weight:bold;}
	body.hasTabBar nav .back-button {width:40px; top:13px;}
	section h2 {height:34px; }
	#order-details.list > li {font-size:1.5em; margin-left:0%;}
	.list > li.nav::after {height: 29px; width:29px; right:6%;}
	.product-list .list h2 {font-size:1.5em;overflow:inherit;}
	.product-carrousel h2 
	{
		font-size:35px;
		padding:7px;
		margin-top:5%;
	}
	body.hasTabBar nav .shop-button 
	{
		width:35px; 
		height:35px; 
		right: 2%; 
		top: 10px;
	}
	.product-carrousel .material {font-size: 1.4em;}
	.carousel-track > li {font-size: 1.8em; margin-left:2%;}
	.product-carrousel h3 {font-weight:bold;}
	li.comp > div 
	{
		padding: 0px 0px 20px 0px; 
		font-size:1.6em;
		margin-left:4%;
	}
	.popup {width:60%;margin-left:-9%;font-size:1.6em;height:29%;}
	.popup > .panel .button {font-size:1.4em;padding:16px;}
	.popup header > h1 {font-size:1.8em; font-weight:bold;padding:13px;}
	.popup footer {border-top: solid 1px #b5b5b5}
	#order-details .article {margin-left:3%;}
	#order-details .first-line {padding-bottom:12px;}	
	#checkout .total-line .total-label {font-weight:bold;margin-left:3%;font-size:1.6em !important;}
	#checkout .total-line .total-value {font-size:1.6em;}
	article.paging > section #observaciones 
	{
		font-size:1.4em; 
		font-family: "Arial", Helvetica, sans-serif;
		width:87%;		
	}
	#checkout .buttons {font-size:21px;}
}

@media only screen 
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) 
{ 
	/*.loading {visibility:hidden;}*/	
	article.paging > section #order-details .discount-value {width:27%;}
	article.paging > section form {margin-top:-23%;}
	article.paging > section #order-details .quantity-value {width:20%;}
	#checkout .total-line .total-value {font-size: 1.6em; width:71%;margin-left:1.5%;}	
	article.paging > section #observaciones {width: 89%;}
	.popup 
	{
		display:block;
		position: absolute;
		padding:0;
		height:34.3%;
		margin-left: -14%;
	}
}

/*************************************/
/********** RESPONSIVE END ***********/
/*************************************/

nav h1 {
    
    font-weight:bold;
    overflow:visible;
    padding:0px;
    text-align:center;
	color:#FFF;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


.tabbar > .button > .icon{
display:none;	
}

body.hasTabBar nav {
background-color: #043680;

}

.tabbar > .button{
	background-color: #043680;
	color:#FFF;
	border-right-width: 1px;
	
	border-right-style: solid;
	
	border-right-color: #fcfcf8;
	
}
.tabbar >.button.selected{
background-color:#fcfcf8;	
}

article .loading{
	background-color: #666;
	background-image: url(../img/ajax-loader.gif);
	background-repeat:no-repeat;
	width:95%;
	margin-left:auto;
	margin-right:auto;
	min-height:20px;
	padding-top:80px;
	background-position: center center;
	border-radius:10px;
	margin-top:30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	text-align: center;
	width:94%;
	margin-left:3%;
	margin-bottom:30px;
	opacity:0.0;
	position:absolute;
	top:10px;
	left:0px;
	z-index:-5;
	-webkit-transition:opacity 1s;
}

article.current .loading.visible{
	opacity:0.7;
	z-index:35000;

}

/*BOTONES*/
.product-search input{
margin-top:1%;	
}
.product-search input[type="search"]{
font-size:150%;
display:block;
margin-left:auto;
margin-right:auto;
width:54%;
margin-top:35%;
padding:2%;
padding-left:8%;
}

.gahibre-button{
color:#FFF;
border-radius:10px;
padding:2%;
background-color:#043680;
display:block;
width:50%;
margin-left:auto;
margin-right:auto;
font-size:150%;
margin-top:3%;
	text-align:center;
	
}

/*PRODUCT LIST*/
.img-inlist{
height:50px;
vertical-align:middle;	
}
.product-list .list .tit_modelo{
	  padding-left: 20px;
  vertical-align: middle;
  font-size: 1.3em;
	
}
.product-list .list > li.nav::after{
top:30px;	
}
.product-list .list h2{
margin-top: 20px;
  font-size: 1.2em;

}
.back-button{
	  background-image: url(../img/iconos/back_57.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 80%;
  display: none;
  top: 25px;
  position: absolute;
  
}

.shop-button{
	  background-image: url(../img/iconos/shopping-btn.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-size: 100%;
  display: none;
  position:absolute;
  right:10px;
  top:25px;
  
}

.add-button{
	  background-image: url(../img/iconos/add_new_57.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-size: 100%;
  display: none;
  position:absolute;
  right:10px;
  top:25px;
  
}

/*POPUP DNI REQUEST*/
.dnireq{
  font-size: 1.2em;
  margin-top: 0.4em;
  padding: 0.3em;	
}


/*PRODUCT VIEWER*/
.product-carrousel{
background-color:#FFF;	
}
.product-carrousel h2,
.product-carrousel .center{
text-align:center;	
}
.product-carrousel .center img,
#outlet-product-carrousel .center img{
margin-bottom:15px;	
height:150px;
}
.product-carrousel h2{
color:#043680;
font-size:1.4em;
margin-left:0px;	
font-weight:bold;
}
.product-carrousel .material{
	background-color:#043680;
	opacity:0.5;
	border-radius:5px;
	padding:5px;
	color:#FFF;
}

.product-carrousel h3{
color:#043680;
opacity:0.5;
margin-left:0px;
font-size:1.2em;
text-align:left;
padding-left:10px;	
margin-bottom:0em;
}
.product-carrousel h3.inline{
display:inline;	
line-height:2em;

}
.product-carrousel p{
text-align: left;
  padding-left: 10px;
  text-transform: none;
  font-size: 1.2em;
  margin-top:0.5em;	
  margin-bottom:0.5em;
}

.product-carrousel .value{
	text-align: left;
  padding-left: 10px;
  text-transform: none;
  font-size: 1.2em;
  margin-top:0.5em;	
}
.product-carrousel .value::after{
	content:"\A"; white-space:pre;
}
.mini-logo{
max-height:40px;	
}

/*ADD-TO-CART*/

#add-to-cart .first-line,
#add-to-cart .second-line{
	display:block;
	position:static;
	text-transform:none;
}

#add-to-cart .first-line .article{
margin-left:40px;	
	
}

#add-to-cart .first-line .size-label{
margin-left:110px;	
font-size:0.8em;
	
}

#add-to-cart .first-line .size-value{
margin-left:20px;	
color:#043680;	
}
#add-to-cart .second-line{
	
}
#add{
font-size:1.4em;	
}
.quantity{
font-size: 12px;
  text-align: right;
  background-color: #eee;
  padding: 3px;
  border-radius: 4px;
  width: 60%;	
}
.quantity-button{
	background-color: #ccc;
  border-radius: 4px;
  padding: 3px;
  width: 13%;
  margin-left: 10px;
  font-size: 13px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  color:#043680;
}
.addtocart-buttons{
margin-top:20px;	
text-align:center;
}
.addtocart-buttons .checkout-button,
#checkout .checkout-button{
padding:10px;
border-radius:5px;
color:#FFF;
background-color:	#043680;
display:inline-block;
width:30%;
margin-left:5%;
margin-right:5%;
font-weight:bold;
	
}

.popup-buttons{
	width:100%;
}

.popup-button{
	
	display:inline-block;
	width:50%;
	text-align:center;
	color:#666;
	padding-top:10px;
	padding-bottom:10px;
}

/*ORDER DETAILS*/

.blue-tag{
	
color:#043680;	
}
.customer-line{
	padding-top: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
}
.customer-line .blue-tag{
	
font-size:1.2em;	
}

#customerSelect{
	  width: 60%;
  float: right;
  margin-right: 20px;
  background-color: #ddd;
  border: none;
  padding: 10px;
  display: block;
  line-height: 1.4em;
  font-size: 1.2em;
	
}

#order-details .article{
font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
  width: 30%;
  margin-lef.t:3%;
}

#order-details .size-label{
	font-size: 1.5em;
	font-weight:bold;
  color: #043680;
  display: inline-block;
  width: 15%;
  text-align: right;
	
}

#order-details .size-value{
	  font-size: 1.5em;
  display: inline-block;
  width: 5%;
  text-align: center;
	
}

#order-details .discount-label{
	font-size: 1.5em;
  color: #043680;
  display: inline-block;
  font-weight:bold;
  width: 15%;
  text-align: right;
	
}

#order-details .discount-value{
	
	  background-color: #DDD;
  width: 25%;
  display: inline-block;
  text-align: right;
  font-size:1.5em;
}

#order-details .quantity-label{
	  
	display: inline-block;
  font-size: 1.5em;
  font-weight:bold;
  color: #043680;
  width: 10%;
  text-align: center;
}

#order-details .quantity-value{
	  background-color: #DDD;
  width: 18%;
  display: inline-block;
  text-align: right;
  font-size: 1.5em;
  margin-left:3%;
	
}

#order-details .price-label{
	
	display: inline-block;
	font-weight:bold;
  font-size: 1.5em;
  color: #043680;
  width: 10%;
  text-align: center;
}

#order-details .price-value{
	  
	background-color: #DDD;
  width: 18%;
  display: inline-block;
  text-align: right;
  font-size: 1.5em;
}

#order-details .subtotal{
	background-color: #DDD;
  width: 25%;
  display: inline-block;
  text-align: right;
  font-size: 1.5em;
  padding:2px;
	
}

#order-details .del-button{
	background-color: #DDD;
  width: 5%;
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: red;
  margin-left: 3%;
	
}

#order-details .first-line{
	
	text-transform:none;
}

#order-details .second-line{
	margin-top:5px;
	text-transform:none;
	
}

#aboutGahibre{
  margin-top: 60px;
  text-transform: none;
  text-align: justify;
  padding-left: 15px;
  padding-right: 20px;
  background-image: url(../img/gbr_imagenes/gahibre_historia.png);
  background-size: 100% 30%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 100px;

}
#aboutGahibre img{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
  margin-bottom:10px;	
	
}
#checkout .total-line{
	padding-left: 15px;
  padding-right: 20px;
  font-size: 1.4em;
	
}

#checkout .total-line .total-label{
	
	  width: 18%;
  display: inline-block;
  font-size: 0.9em;
}

#checkout .total-line .total-value{
	width: 70%;
  background-color: #DDD;
  display: inline-block;
  font-weight: bold;
  text-align: right;
  padding-right: 5%;
	
}

#observaciones{
	width: 85%;
  border-color: #BBB6B6;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  margin-left: 5%;
  margin-right: 20px;
  margin-top: 20px;
  padding: 5px;
}
#checkout .buttons{
margin-left: 11%;
  margin-right: 20px;
  margin-top: 15px;	
	
}

#checkout .buttons .checkout-button{
	  width: 23%;
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
	
}